// Some variables
$color-bright: rgb(232, 232, 232);
$color-dark: rgb(18, 18, 18);
$color-light-background: rgb(243, 243, 243);
$color-light-background-dimmed: #F8F8F8;
$color-dark-background: $color-dark;
$color-dimmed: rgb(168, 168, 168);
$color-shiny: rgb(251, 114, 153);
$color-primary: rgb(111, 157, 171);
$color-primary-dimmed: rgb(90, 127, 138);
